*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Saira Extra Condensed', sans-serif;
}

header {
	background: url(../images/bg.jpg);
	height: 110vh;
	background-size: cover;
	background-position: center;
}

nav {
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

nav > ul {
	display: flex;
	list-style-type: none;
}

nav > ul > li {
	margin: 0 20px;
}

/*Styling for all butoons*/

.btn {
	padding: 10px 20px;
	border-radius: 15px;
	border:	none;
}

.btn-product {
	background-color: salmon;
	font-size: 15px;
	font-weight: bold;
}

#diveBtn {
	position: absolute;
	right: 200px;
	top: 20px;
	transition: .2s
}

#diveBtn:hover {
	top: 15px;
}

/*Disappearing Menu CSS*/
.submenu {
	background-color: gray;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: none;
	position: absolute;
	left: 10%;
	top: 50px;

}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover {
	display: flex;
}

.submenu > div {
	width: 25%;
}

div + div {
	/*border-left: 1px solid black;*/
}

div > h4, div > p {
	margin: 10px 0;
	padding: 0 10px;
}

.submenu > div > p:hover {
	background-color: darkgray;

}

.header-text {
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.header-text > h1 {
	font-size: 70px;
}

.header-text > h1, .header-text > p, .header-text > div > button{
	margin-left: 50px;
}

.header-text > div > .btn {
	margin-top: 20px;
	background-color: navy;
	color: white;
}

/*END of CSS Header*/

/*Start of Quote CSS*/

.quote {
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 20%;
	text-align: center;
}

.quote > div > div {
	text-align: center;
	margin-top: 20px;
}

/*PAGE 2*/

.page2 {
	height: 80vh;
	display: flex;
	border-bottom: 1px solid gray;
	justify-content: flex-end;
	align-items: center;
}

.page2 > section {
	width: 50%
}

.left{
	text-align: center;
}

.page2 img {
	
	width: 550px;
	height: 300px;
	justify-content: center;

}

.right-top {
	display: flex;
	align-items: center;
	margin: 0 10px;	
}

.right-top > div {
	height: 300px;
	padding-right: 50px;
}

.right-top > div > div > p {
	color: gray;
	margin-bottom: 10px;
	padding: 0;
}

.right-top > div > div > h3 {
	font-size: 30px;
}

.right-btmleft{
	display: flex;

}

.right-btmleft > div {
	width: 50%;
}

.right-btmleft p, .right-btmright p {
	padding: 0;
}

.revenue h1{
	font-size: 50px;
}

.conversions h1{
	font-size: 50px;
}

.revenue > h1 > span {
	font-size: 20px;
	position: relative;
	bottom: 30px;

}

.conversions > h1 > span {
	font-size: 20px;
	position: relative;
	bottom: 30px
}

/*SECTION 4*/

.mainbox {
	height: 100vh;
	text-align: center;
	font-size: 20px;
	margin-top: 20%;
}

.mainbox > h5{
	color: gray;
}

.mainbox > h1{
	padding-bottom: 40px;
}

.subBox {
	display: flex;
	justify-content: center;
}

.box1 {
	height: 300px;
	width: 250px;
	border: 1px	solid lightgray;
	border-radius: 15px;
	margin-right: 50px;
	position: relative;
}

.box2 {
	height: 300px;
	width: 250px;
	border: 1px	solid lightgray;
	border-radius: 15px;
	margin-right: 50px;
	position: relative;
}

.box3 {
	height: 300px;
	width: 250px;
	border: 1px	solid lightgray;
	border-radius: 15px;
	margin-right: 50px;
	position: relative;
}

.box1 img, .box2 img, .box3 img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: relative;
	bottom: 10%;
	z-index: 10
}

.box1 div, .box2 div, .box3 div  {
	text-align: center;
}

.box1 hr, .box2 hr, .box3 hr {
	position: relative;
	top: 35px;
}

.box1:hover, .box2:hover, .box3:hover {
	box-shadow: 0px 10px 10px black;
	bottom: 10px;
	transition: .5s;
}

.box1 p, .box2 p, .box3 p {
	margin: 30px;
	font-size: 15px;
}
.boxspace {
	height: 100px;
}

/*.topbox {
	height: 80%;
	border-bottom: 1px solid lightgray;
}

.botbox {
	height: 20%;
}*/
